@CHARSET "UTF-8";

*{
	margin:0px;
	padding:0px;
}

.w3-kaushan {
  font-family: "Kaushan Script", cursive;
}

.w3-allerta {
  font-family: "Allerta Stencil", Sans-serif;
}


.zoom{
	font-size:1em;
}

.social{
	width:1%;
	position: fixed;
}

.pie{
	clear:both;
	text-align:center;
	padding: 20px;
	background-color:white;
	border-top:2px solid #999999;
}

