@CHARSET "UTF-8";
*{
	margin:0px;
	padding:0px;
}

.w3-kaushan {
  font-family: "KaushanScript", Sans-serif;
}

.cgeneral{
	color:cyan;
}

.zoom{
	font-size:1em;
}

#pie{
	clear:both;
	text-align:center;
	padding: 20px;
}